a {
    color: red;
    text-decoration: none;
    font-size: 25px;

}

ul {
    list-style: none;
}

a:hover {
    color: aqua;
    font-size: 30px;
}

input {
    width: 200px;
    height: 30px;
}

h1 {
    text-align: center;
    color: red;
}

i {
    text-align: center;

}

.button {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    background-image: url("https://admin.cgon.ru/storage/blog_posts/October2019/Z2KBRKFO0q8Xl7vctxFO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    flex: 0 0 auto;
    background-color: grey;
}

.menu ul {

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

.form {
    margin-left: 50px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.menu a {
    font-style: italic;
    font-weight: bold;
}

.menu {
    height: 50px;
    align-items: center;
    margin-top: 10px;
}
.shapka{
    
}